@import '../assets/iconfont/iconfont.css';
@import '../assets/variables.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}


#root {
  height: 100%;
  min-width: 358px;
  min-height: 620px;
  line-height: 1.25;
  display: flex;
  flex-direction: column;

  textarea, button, input {
    outline: none;
  }
}

.divide-1 {
  width: 100%;
  height: 1px;
  background: #DCE0E2;
}

.container {
  width: 100%;
  display: flex;
  color: $fontgray;
  padding: 0 20px;
}

.container-column {
  flex-direction: column;
}

.container-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;

  img {
    width: 32px;
  }
}

.fixed-width {
  width: 320px;
  margin-top: 16px;
}

.input {
  margin-top: 16px;
  padding: 12px;
  width: 296px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid $grayDivide;
  border-radius: 6px;
  font-size: 14px;
  color: $fontgray;

  ::placeholder {
    color: $placeholderColor;
  }
}

.button {
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.button-yellow {
  width: 318px;
  background: $yellow;
  border: 1px solid rgba(0, 0, 0, 0.04);
  color: #000;
}

.margin-top-40 {
  margin-top: 40px;
}
