@import '../../assets/variables.scss';

.request-sign {
  display: flex;
  flex-direction: column;

  .detail {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $grayDivide;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .detail-item {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      span {
        font-size: 14px;
      }

      :first-child {
        color: $placeholderColor;
      }

      :last-child {
        width: 200px;
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
        text-align: right;
      }

      section.args {
        display: flex;

        ol, li {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        li {
          &:not(:first-of-type) {
            margin-top: 5px;
          }
        }
      }
    }
  }

  .submit-area {
    display: flex;
    flex-direction: column;

    .title {
      margin-top: 20px;
      font-size: 20px;
    }

    .button-area {
      display: flex;
      justify-content: space-around;
    }

    .result {
      text-align: left;
      word-wrap: break-word;
      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}