@import '../../assets/variables.scss';

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DCE0E2;
  .container-header {
    justify-content: space-between;
    .logo {
      width: 32px;
      height: 32px;
    }
    .right {
      display: flex;
      .current-node {
        height: 32px;
        width: 103px;
        border-radius: 16px;
        border: 1px solid #DCE0E2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        cursor: pointer;
      }
      .setting {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .setting-icon {
          color: $fontgray;
        }
      }
    }
    
  }
  .node-list-area {
    position: absolute;
    top: 70px;
    background-color: red;
    width: 226px;
    min-height: 120px;
    border-radius: 10px;
    background: rgba(255,255,255,0.85);
    border: 1px solid #DCE0E2;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08), 0 8px 8px 0 rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .node-list {
      display: flex;
      flex-direction: column;
      .node-item {
        height: 32px;
      }
    }
    .auto-select {
      height: 36px;
      margin-left: 16px;
      display: flex;
      align-items: center;
    }
    .add-node {
      height: 48px;
      background: #3F3F3F;
      display: flex;
      align-items: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      span {
        margin-left: 16px;
      }
    }
  }
  .account-area {
    position: absolute;
    right: 20px;
    top: 70px;
    min-height: 47px;
    width: 256px;
    border-radius: 10px;
    // background: rgba(255,255,255,0.85);
    border: 1px solid #DCE0E2;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08), 0 8px 8px 0 rgba(0,0,0,0.16);
    z-index: 10000;
    .action {
      height: 47px;
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid $grayDivide;
      font-size: 14px;
      color: $fontgray;
      div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span {
          margin-left: 6px;
        }
      }
      div:first-child {
        border-right: 1px solid $grayDivide;
      }
    }
    a {
      text-decoration: none; 
      color: $fontgray; 
    }
    .account-area-icon {
      color: $yellow;
    }
  }
}